<h1>Editing daily transaction</h1>

<%= render "form", daily_transaction: @daily_transaction %>

<br>

<div>
  <%= link_to "Show this daily transaction", @daily_transaction %> |
  <%= link_to "Back to daily transactions", daily_transactions_path %>
</div>
