<h1>Editing daily transaction detail</h1>

<%= render "form", daily_transaction_detail: @daily_transaction_detail %>

<br>

<div>
  <%= link_to "Show this daily transaction detail", @daily_transaction_detail %> |
  <%= link_to "Back to daily transaction details", daily_transaction_details_path %>
</div>
